/**** 

Override "some" styling in the Shortlist - TwentyFourteen Version
Author: Corey Baker
https://github.com/coreybaker
Use: Whatever you want....break it, tweak it, work it

****/

/*** Header Customization ***/

#header {

}

#title, #subtitle {

}

#divStrip {

}


/*** Selection Tabs Customization ***/


.tab {

}

.tab:hover {

}

.tab-selected {

}

/*** Popup Customization ***/


/* Changes the color, background-color, font, or whatever in the pop-up title */
.esriPopup .titlePane {

}

/* Changes the color, background-color, font, or whatever in the actual body of the popup */

.esriPopup .contentPane, .esriPopup .actionsPane {

}

/* Changes the color of the popup link titled "Details" */

.infoWindowLink {

}

.infoWindowLink:hover {

}


/** Left Pane Customizaiton **/

#paneLeft {
	
}
